/* GENERAL STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #33475b;
  background-color: #f4f9fd;
}
/* layout */

.container {
  width: 1100px;
  margin: 0 auto;
}

.container-small {
  width: 820px;
  margin: auto;
}

.col-info {
  float: left;
  width: 30%;
  padding-top: 5%;
}

.info-detail2 {
  margin-left: 5%;
  margin-right: 5%;
}

.clearfix::after {
  content'';
  display: table;
  clear: both;
}

.box, .box2, .box3 {
  position: relative;
}

.box img {
  width: 110px;
  margin-left: 80px;
  margin-bottom: 108px;
}

.box2 img {
  width: 126px;
  margin-left: 68px;
  margin-bottom: 113px;
}

.box3 img {
  width: 104px;
  margin-left: 84px;
  margin-bottom: 100px;
}

.title, .title2, .title3 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.paragraph, .paragraph2, .paragraph3 {
  font-size: 17px;
  margin-bottom: 67px;
  text-align: center;
}
/* TIPOGRAPHY */

a {
  text-decoration: none;
}

p {
   line-height: 180%;
}

h2,
h3,
h4 {
  margin-bottom: 30px;
}

h2 {
  font-size: 32px;
}

h3 {
  margin-top: -90px;
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

.box h4,
.box2 h4,
.box3 h4 {
  font-size: 18px;
  text-align: center;
}
/* text e color*/

.color-blue a {
  color: #33475b;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
/* MENU */

ul.list-inline li {
  display: inline-block;
  padding: 0 10px;
}

ul.list-inline li:first-child {
  padding-left: 0;
}

ul.list-inline li:last-child {
  padding-right: 0;
}
/* BOTTONS */

.botton {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  line-height: 16px;
  font-size: 14px;
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.botton-box {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  line-height: 16px;
  font-size: 14px;
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  margin-left: 62px;
  margin-top: 48px;
}

.botton-orange,
.botton-orange-box {
  color: #fff;
  background-color: #fe775a;
}

.botton-orange.botton-big {
  padding: 20px 40px;
}

.botton-orange-box.botton-big-box {
  padding: 20px 40px;
}

.botton-orange:hover {
  background: rgba(254, 119, 90, 0.8);
}
/* HEADER */

/* Nav top */
.nav-top {
  height: 80px;
  background: #f4f9fd;
  line-height: 80px;
  border-bottom: 1px solid #33475b;
}

.nav-top-left,
.nav-top-right {
  float: left;
  width: 50%;
}

.nav-top-left .list-inline li:first-child a {
  padding-right: 20px;
  border-right: 2px solid #899397;
}

.nav-top-left .list-inline li:first-child a .fa-chevron-down {
  position: relative;
  top: 1px;
}

.nav-top-right .ico-search {
  color: #04a4bd;
}
/* NAVIGATION-BOTTOM */

.nav-bottom {
  padding-top: 25px;
  height: 70px;
  background-color: #fff;
}

.nav-bottom .logo,
.nav-bottom .nav-bottom-right {
  float: left;
  width: 50%;
}

.nav-bottom .logo img {
  vertical-align: middle;
  margin-top: -5px;
}

.nav-bottom .list-inline .fa-chevron-down {
  position: relative;
  top: 1px;
  margin-left: 8px;
}
/* IMG SFONDO */

.img-sfondo {
  height: 650px;
  background-color: #fff5ee;
  background-image: url('../img-hubspot/jumbotron.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.sfondo-text {
  width: 50%;
  padding-top: 50px;
}

.sfondo-text h1 {
  margin-bottom: 30px;
  font-size: 50px;
}

.sfondo-text p {
  margin-bottom: 30px;
}

.sfondo-text .small {
  margin-top: 30px;
  font-size: 12px;
}

.img-sfondo::before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #37465a;
  border-bottom: 3px solid #37465a;
}
/* MAIN */

/* Icon powerful e box */
.powerful {
  padding: 50px 0;
}

.powerful img {
  width: 250px;
  margin-bottom: 20px;
}

.white-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.1);
}

.full-box {
  width: 100%;
  padding: 142px;
}

.white-box1 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.1);
}

.full-box1 {
  width: 100%;
  padding: 28px;
}

.white-box2 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.1);
}

.full-box2 {
  width: 100%;
  padding: 31px;
}

.white-box3 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.1);
}

.full-box3 {
  width: 100%;
  padding: 28px;
}

.info-icon,
.info-text {
  float: left;
}

.info-icon {
  width: 25%;
}

.info-icon img {
  max-height: 100px;
  margin-bottom: 22px;
  margin-top: -84px;
}

.info-text {
  width: 75%;
  padding: 0 50px;
}

.info-text p {
  margin-bottom: 20px;
}

.info-text .fa-check-circle {
  margin-right: 8px;
  color: #fe775a;
}

.box .fa-check-circle,
.box2 .fa-check-circle,
.box3 .fa-check-circle {
  margin-right: 8px;
  color: #fe775a;
}
/* Title e box*/

.title-border {
  position: relative;
  font-size: 17px;
}

.title-border::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #899397;
}

.title-border span {
  display: inline-block;
  width: 35%;
  background-color: #fff;
  position: relative;
}

.box ul, .box2 ul,
.box3 ul  {
  position: relative;
  font-size: 16px;
  list-style: none;
}

.box h4::before,
.box2 h4::before,
.box3 h4::before {
  content: '';
  position: absolute;
  top: 58%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #899397;
}
